.board-container {
    width: 100%;
    max-width: 30%;

    padding: 2rem 1.4rem;

    border: 2px solid;
    border-radius: 25px;
    border-color: #831900;
    background-color: #F0E2BA;

    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.board-container .board-title {
    text-align: left;

    font-size: 1.2rem;
}

.board-container .task-container {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;

}

.board-container .task-container .task-content {
    padding: 1rem 0.2rem;
    
    font-size: 0.7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid grey;
}

.board-container .task-container .task-content .task-edit-option svg{
    margin-right: 0.4rem;
}

.board-container .button-add {

    margin-top: 2rem;
    justify-self: flex-end;
    align-self: flex-end;
}

